#characterInfoBarContainer {
  --character-Image-width: 85px;
  --characterInfo-width: 300px;
  --halfOf-characterInfo-width: calc(var(--characterInfo-width) / 2);
  position: absolute;
  left: calc(50% - var(--halfOf-characterInfo-width));
  top: 8px;
}

#characterInfoBar {
  width: var(--characterInfo-width);
  height: 100px;
  background-color: darkblue;
  text-align: center;
  clip-path: polygon(
    50px 20px,
    70px 0,
    var(--characterInfo-width) 0,
    calc(var(--characterInfo-width) - 40px) 60px,
    180px 60px,
    160px 100px,
    80px 100px
  );
}


.characterName {
  float: right;
  padding-right: 35px;
  width: 100px;
  font-family: 'Helvetica'; 
	font-size: 20px;
  	color: white;
}

.characterLevel {
  padding-right: 30px;
  padding-top: 35px;
	font-family: 'Helvetica'; 
	font-size: 15px;
  color: white;
}

.characterTextDetailes {
  float: right;
}

.characterImage {
  float: right;
  border-radius: 50%;
  padding-top: 9px;
  padding-bottom: 9px;
  width: var(--character-Image-width);
  height: var(--character-Image-width);
  cursor: pointer;
}

.xpBar {
  position: absolute;
  height: 10px;
  top: 60px;
  left: 170px;
}

#xpCapacity {
  --xpCapacity-width: 85px;
  background-color: #aaa;
  width: var(--xpCapacity-width);
  clip-path: polygon(0 0, var(--xpCapacity-width) 0, calc(var(--xpCapacity-width) - 7px) 10px, 0 10px);
}

#xpQuantity {
  --xpQuantity-width: 40px;
  background-color: aqua;
  width: var(--xpQuantity-width);
  clip-path: polygon(0 0, var(--xpQuantity-width) 0, calc(var(--xpQuantity-width) - 7px) 10px, 0 10px);
}
