#characterInfoBarContainer {
  --characterInfoBar-width: 250px;
  --halfOf-characterInfoBar-width: calc(var(--characterInfoBar-width) / 2);
  --character-text-width: 100px;
  --character-Image-size: 85px;
  position: absolute;
  left: calc(50% - var(--halfOf-characterInfoBar-width));
  top: 8px;
}

#characterInfoBar {
  width: var(--characterInfoBar-width);
  height: 100px;
  background-color: darkblue;
  text-align: center;
  clip-path: polygon(
    0px 0px, /*top left corner going down*/
    0px 0px, /*top left corner*/
    var(--characterInfoBar-width) 0px, /*top right corner*/
    calc(var(--characterInfoBar-width) - 40px) 60px, /*bottom right corner*/
    130px 60px, /*right middele corner*/
    110px 100px, /*right bottom middele corner*/
    40px 100px);/*left bottom corner*/
  
}

.characterTextCointainer {
  width: var(--halfOf-characterInfoBar-width);
  float: right;
}

.characterNameText {
  padding-top: 5px;
  width: var(--character-text-width);
  font-family: 'Helvetica'; 
	font-size: 20px;
  color: white;
}

.characterLevelText {
  width: var(--character-text-width);
	font-family: 'Helvetica'; 
	font-size: 15px;
  color: white;
}

.characterImage {
  margin-left: 30px;
  border-radius: 50%;
  padding-top: 9px;
  padding-bottom: 9px;
  width: var(--character-Image-size);
  height: var(--character-Image-size);
  cursor: pointer;
}

.xpBar {
  position: absolute;
  height: 10px;
  top: 60px;
  left: 125px;
}

#xpCapacity {
  --xpCapacity-width: 85px;
  background-color: #aaa;
  width: var(--xpCapacity-width);
  clip-path: polygon(0 0, var(--xpCapacity-width) 0, calc(var(--xpCapacity-width) - 7px) 10px, 0 10px);
}

#xpQuantity {
  --xpQuantity-width: 40px;
  background-color: aqua;
  width: var(--xpQuantity-width);
  clip-path: polygon(0 0, var(--xpQuantity-width) 0, calc(var(--xpQuantity-width) - 7px) 10px, 0 10px);
}
