.itemTitle {
	background-color: #c65353;
	border: 1px solid #bf4040;
	width: 80px;
	height: 40px;
}

.CI-grid-container {
	display: grid;
	grid-template-columns: 40px 40px 40px 40px 40px;
	grid-template-rows: 40px 40px 40px;
}

.CI-grid-item {
	background-color: #cc6666;
	border: 1px solid #bf4040;
}

img {
	vertical-align: top;
	width: 38px;
	height: 38px;
}
