#characterInfoContainer {
  --characterInfo-width: 400px;
  --halfOf-characterInfo-width: calc(var(--characterInfo-width) / 2);
  position: absolute;
  left: calc(50% - var(--halfOf-characterInfo-width));
  top: 8px;
}

#characterInfo {
  width: var(--characterInfo-width);
  height: 100px;
  background-color: darkblue;
  text-align: center;
  clip-path: polygon(
    0 20px,
    20px 0,
    var(--characterInfo-width) 0,
    calc(var(--characterInfo-width) - 40px) 60px,
    180px 60px,
    160px 100px,
    40px 100px
  );
}

.xpBar {
  position: absolute;
  height: 10px;
  top: 60px;
  left: 170px;
}

#xpCapacity {
  --xpCapacity-width: 180px;
  background-color: #aaa;
  width: var(--xpCapacity-width);
  clip-path: polygon(0 0, var(--xpCapacity-width) 0, calc(var(--xpCapacity-width) - 7px) 10px, 0 10px);
}

#xpQuantity {
  --xpQuantity-width: 50px;
  background-color: aqua;
  width: var(--xpQuantity-width);
  clip-path: polygon(0 0, var(--xpQuantity-width) 0, calc(var(--xpQuantity-width) - 7px) 10px, 0 10px);
}
