.CN-grid-container {
	display: grid;
	grid-template-columns: 100px 200px;
	grid-template-rows: 40px 30px 20px;
	grid-gap: 10px;
	-webkit-user-drag: none;
	user-select: none;
}

.imageItem {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	grid-row-start: 1;
	grid-row-end: 4;
	cursor: pointer;
}

.nameItem {
	text-align: center;
	font-size: 41px;
	font-style: bold;
	cursor: text;
}

.lvlItem {
	padding-left: 20px;
	font-size: 20px;
}

.XPBar {
	--xp-Width: 190px;
	--xp-Height: 20px;
}

.WxpCapacity {
	position: absolute;
	background-color: #ff99b3;
	height: var(--xp-Height);
	width: var(--xp-Width);
	clip-path: polygon(0 0, var(--xp-Width) 0, var(--xp-Width) var(--xp-Height), 0 var(--xp-Height));
}

.WxpQuantity {
	position: absolute;
	--xpQuantity-width: calc(var(--xp-Width) * 0.3);
	width: var(--xpQuantity-width);
	height: var(--xp-Height);
	border-width: 2px;
	border-color: #ff99b3;
	background-color: #ff4d79;
	clip-path: polygon(
		0 0,
		var(--xpQuantity-width) 0,
		calc(var(--xpQuantity-width) * 0.96) var(--xp-Height),
		0 var(--xp-Height)
	);
}

.WxpInNumbers {
	position: relative;
	font-size: 18px;
	text-align: center;
	color: black;
}
