.CWB-grid {
	display: flex;
	flex-wrap: wrap;
	flex-flow: space-evenly;
	align-items: flex-start;
}

.CWB-item1 {
	align-self: flex-start;
}

.CWB-item2 {
	align-self: flex-start;
	width: 50%;
}

.CWB-item3 {
	align-self: flex-end;
}

.hover-box {
	align-self: flex-end;
}
