#focusedMap {
	--NumOfColumns: 26;
	position: absolute;
	left: calc(50% - calc(calc(0.5 * var(--NumOfColumns)) * var(--height-unit)));
	/* will need to connect NumOfCoulmns logic via styled components later on. */
	bottom: var(--height-unit);
}

.fm-row {
	display: flex;
	justify-content: center;
}
