:root {
	--fm-border-color: #111111;
}

.fm-tile {
	height: var(--height-unit);
	width: var(--height-unit);
	background-size: cover;
}

.fm-hidden {
	visibility: hidden;
}

.fm-border {
	height: var(--height-unit);
	width: var(--height-unit);
	background-color: var(--fm-border-color);
}

.grass1 {
	background-image: url('Assets/FocusedMap/grass1.png');
}

.grass2 {
	background-image: url('Assets/FocusedMap/grass2.png');
}

.grass3 {
	background-image: url('Assets/FocusedMap/grass3.png');
}

.sea {
	background-image: url('Assets/FocusedMap/sea.gif');
}

.deepsea {
	background-image: url('Assets/FocusedMap/deepsea.gif');
}

.sand {
	background-image: url('Assets/FocusedMap/sand.png');
}

.sand-right {
	background-image: url('Assets/FocusedMap/sand-right.png');
}

.sandcorner-tl {
	background-image: url('Assets/FocusedMap/sandcorner-tl.png');
}

.sandcorner-bl {
	background-image: url('Assets/FocusedMap/sandcorner-bl.png');
}

.path1 {
	background-image: url('Assets/FocusedMap/path1.png');
}

.path2 {
	background-image: url('Assets/FocusedMap/path2.png');
}

.path3 {
	background-image: url('Assets/FocusedMap/path3.png');
}

.grasspathtop {
	background-image: url('Assets/FocusedMap/grasspathtop.png');
}

.grasspathbot {
	background-image: url('Assets/FocusedMap/grasspathbot.png');
}

.grasspathleft {
	background-image: url('Assets/FocusedMap/grasspathleft.png');
}

.grasspathcorner-bl {
	background-image: url('Assets/FocusedMap/grasspathcorner-bl.png');
}

.grasspathcorner-tl {
	background-image: url('Assets/FocusedMap/grasspathcorner-tl.png');
}

.seacorner-br {
	background-image: url('Assets/FocusedMap/seacorner-br.png');
}

.seacorner-tr {
	background-image: url('Assets/FocusedMap/seacorner-tr.png');
}

.grass-sand-r {
	background-image: url('Assets/FocusedMap/grass-right.png'), url('Assets/FocusedMap/sand.png');
}

.grass-sandcorner-bl {
	background-image: url('Assets/FocusedMap/grasscorner-bl.png'), url('Assets/FocusedMap/sand.png');
}

.grass-sandcorner-tl {
	background-image: url('Assets/FocusedMap/grasscorner-tl.png'), url('Assets/FocusedMap/sand.png');
}

/* halfboxs */

.halfbox-upperLeft {
	background-image: -webkit-linear-gradient(315deg, transparent 50%, var(--fm-border-color) 50%);
}

.halfbox-upperRight {
	background-image: -webkit-linear-gradient(225deg, transparent 50%, var(--fm-border-color) 50%);
}

.halfbox-lowerLeft {
	background-image: -webkit-linear-gradient(45deg, transparent 50%, var(--fm-border-color) 50%);
}

.halfbox-lowerRight {
	background-image: -webkit-linear-gradient(135deg, transparent 50%, var(--fm-border-color) 50%);
}
