.fm-tile {
	height: var(--height-unit);
	width: var(--height-unit);
	background-size: cover;
}

.hidden {
	visibility: hidden;
}
.fm-blocker-right {
	clip-path: polygon(50% 50%, 0 0, 0 101%);
}

.fm-blocker-left {
	clip-path: polygon(50% 50%, 101% 0, 101% 101%);
}

.fm-upperLeft {
	clip-path: polygon(101% 101%, 101% 0, 0 101%);
}

.fm-upperRight {
	clip-path: polygon(0 0, 0% 101%, 101% 101%);
}

.fm-lowerLeft {
	clip-path: polygon(0 0, 101% 0, 101% 101%);
}

.fm-lowerRight {
	clip-path: polygon(0 0, 0% 101%, 101% 0);
}
