.craftingButtonDefault {
	width: var(--craftingButton-size);
	height: var(--craftingButton-size);
	background-color: chartreuse;
	border-radius: 50%;
	user-select: none;
	text-align: center;
	line-height: var(--craftingButton-size);
}
