#coinsTab {
  width: 160px;
  background-color: blue;
  text-align: center;
}

#getMoreCoinsButton {
  height: 31px;
  width: 58px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffa500;
  font-size: 12px;
}
