.itemTitle {
	background-color: #c65353;
	border: 1px solid #bf4040;
	width: 90px;
	height: 30px;
	user-select: none;
	font-size: 14px;
	color: #333333;
}

.CI-grid-container {
	display: grid;
	grid-template-columns: 30px 30px 30px 30px 30px;
	grid-template-rows: 30px 30px 30px;
}

.CI-grid-item {
	background-color: #cc6666;
	border: 1px solid #bf4040;
}

img {
	vertical-align: top;
	width: 28px;
	height: 28px;
}
