.seenButton {
	background-color: cornflowerblue;
	width: var(--seenButton-size);
	height: var(--seenButton-size);
	border-radius: 50%;
	margin-bottom: 20px;
	margin-left: calc(var(--craftingButton-size) / 2);
	user-select: none;
	text-align: center;
	line-height: var(--seenButton-size);
}
