.generalWindow {
	height: calc(11.5 * (50vh / 9));
	width: fit-content;
	position: fixed;
	background-color: #ddcc66;
	padding: 10px;
	border-radius: 5px;
}

.centered {
	top: 52%; /* simply wanted it down a bit for astetics, thats whats behind the 2%*/
	left: 50%;
	transform: translate(-50%, -50%);
	/*  the transform makes the window's anchor point to be in it's center instead of top left,
      that way it is possible to center it easily instead of calculating its position according
      to it's dimensions   */
}

.rightSided {
	right: calc(4 * 3.125vw);
	top: 52%;
	transform: translate(0, -50%);
	/*  same case as the comment above, instead this time I wanted it's anchor point to be on
    the center-right edge, so I can space from the right according to the existing buttons size in px  */
}

.contentContainer {
	width: fit-content;
	height: fit-content;
	min-width: 20vw;
	margin-top: 7px;
	padding: 10px;
	background: #ffd095;
	border-radius: 7px;
	border: 1px #ddb075 solid;
	text-align: center;
}
.generalWindowCloseButton {
	align-self: right;
	float: right;
}
.generalWindowTitle {
	align-self: left;
	float: left;
}
