.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 14px;
  font-family: Helvetica;
  cursor: pointer;
  user-select: none;
}

.button.onHover {
  filter: brightness(115%) saturate(65%);
}

.button.onMousePress {
  filter: brightness(87%) saturate(100%);
}

.button.uppercased {
  text-transform: uppercase;
}
.button.bordered {
  border: 1px solid;
}
