#coinsTab {
	width: 140px;
	background-color: blue;
	text-align: center;
}

#getMoreCoinsButton {
	width: 80px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	background-color: #ffa500;
	font-size: 14px;
	text-transform: none;
	border: 0px;
}
