#settingsButton {
	--height-unit: calc(50vh / 9);
	width: var(--height-unit);
	height: var(--height-unit);
	background-color: #778ca1;
	border: 1px solid #101010;
	right: 200px;
	margin-right: calc(var(--height-unit) / 2);
}

#settingsButtonIcon {
	width: 75%;
	height: 75%;
	-webkit-user-drag: none;
}
