#settingsButton {
	width: var(--height-unit);
	height: var(--height-unit);
	background-color: #778ca1;
	border: 1px solid #101010;
	right: 200px;
	margin-right: calc(var(--height-unit) / 2);
	padding: 5%;
}

#settingsButtonIcon {
	width: 100%;
	height: 100%;
	-webkit-user-drag: none;
}
