#discoveryWindow {
	background-color: #91c788;
	width: calc(11 * var(--width-unit));
	height: calc(13 * var(--height-unit));
}

#discoveryWindowContentContainer {
	border: 0.1vh #52734d solid;
	background-color: #feffde;
}

.topWindowContentContainer {
	width: calc(4 * var(--width-unit));
	height: calc(6 * var(--height-unit));
	display: flex;
	flex-direction: row;
	grid-gap: 0.75vw;
	user-select: none;
}

.downWindowContentContainer {
	width: calc(4 * var(--width-unit));
	height: calc(6.2 * var(--height-unit));
	display: flex;
	flex-direction: row;
	grid-gap: 0.75vw;
	user-select: none;
}
