#craftingButton {
  position: absolute;
  width: calc(100% / 3 * 2.5);
  height: calc(100% / 4.5 * 2.5);
  background-color: chartreuse;
  bottom: 0;
  left: 0;
  border: 1px solid black;
  border-radius: 50%;
}
