.App {
  width: 100%;
  height: 100vh;
}

#mapContainer {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

#upperLeftButtonsContainer {
  width: 360px;
  height: 120px;
  background-color: turquoise;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 2;
}

#characterInfoContainer {
  width: 400px;
  height: 100px;
  background-color: slateblue;
  position: absolute;
  left: calc(50% - 200px);
  top: calc(8px);
  z-index: 1;
}

#upperRightButtonsContainer {
  background-color: tan;
  width: 320px;
  height: 400px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
}

#disastersContainer {
  background-color: pink;
  width: 240px;
  height: 200px;
  position: absolute;
  left: 20px;
  top: calc(100% / 3);
  z-index: 1;
}

#bottomRightButtonsContainer {
  background-color: mediumseagreen;
  width: 120px;
  height: 180px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  z-index: 1;
}
