/*-------------------
  Button Containers
-------------------*/

#upperLeftButtonsContainer {
  width: 360px;
  height: 120px;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 2;
}

#characterInfoContainer {
  width: 400px;
  height: 100px;
  position: absolute;
  left: calc(50% - 200px);
  top: calc(8px);
  z-index: 1;
}

#upperRightButtonsContainer {
  width: 320px;
  height: 400px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
}

#disastersContainerContainer {
  width: 240px;
  height: 200px;
  position: absolute;
  left: 20px;
  top: calc(100% / 3);
  z-index: 1;
}

#bottomRightButtonsContainer {
  width: 120px;
  height: 180px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1;
}
