.App {
  width: 100%;
  height: 100vh;
}

#mapContainer {
  width: 100%;
  height: 100vh;
  background-color: #777;
}

#upperLeftButtonsContainer {
  width: calc(100% / 32 * 9);
  height: calc(100% / 18 * 3);
  background-color: turquoise;
  position: absolute;
  left: calc(100% / 32 * 0.5);
  top: calc(100% / 18 * 0.5);
}

#characterInfoContainer {
  width: calc(100% / 32 * 10);
  height: calc(100% / 18 * 2.5);
  background-color: slateblue;
  position: absolute;
  left: calc(100% / 32 * 11);
  top: calc(100% / 18 * 0.2);
}

#upperRightButtonsContainer {
  background-color: tan;
  width: calc(100% / 32 * 8);
  height: calc(100% / 18 * 10);
  position: absolute;
  right: calc(100% / 32 * 0.5);
  top: calc(100% / 18 * 0.5);
}

#disastersContainer {
  background-color: pink;
  width: calc(100% / 32 * 6);
  height: calc(100% / 18 * 5);
  position: absolute;
  left: calc(100% / 32 * 0.5);
  top: calc(100% / 18 * 6);
}

#bottomRightButtonsContainer {
  background-color: mediumseagreen;
  width: calc(100% / 32 * 3);
  height: calc(100% / 18 * 4.5);
  position: absolute;
  right: calc(100% / 32 * 0.75);
  bottom: calc(100% / 18 * 0.75);
}
