#gameplayScreen {
	--height-unit: calc(50vh / 9);
	font-family: Helvetica;
}

/*-------------------
  Button Containers
-------------------*/

#upperRightButtonsContainer {
	position: absolute;
	right: var(--height-unit);
	top: var(--height-unit);
	display: flex;
}

#upperLeftButtonsContainer {
	position: absolute;
	left: var(--height-unit);
	top: var(--height-unit);
	display: flex;
}

#bottomRightButtonsContainer {
	--seenButton-size: calc(1.5 * var(--height-unit));
	--discoveryButton-size: calc(2.5 * var(--height-unit));
	position: absolute;
	overflow: hidden;
	right: calc(1.5 * var(--height-unit));
	bottom: calc(1.5 * var(--height-unit));
}
