#gameplayScreen {
	--height-unit: calc(50vh / 9);
	--width-unit: 3.125vw;
	font-family: Helvetica;
}

/*-------------------
  Button Containers
-------------------*/

#upperRightButtonsContainer {
	position: absolute;
	right: var(--width-unit);
	top: var(--height-unit);
	display: flex;
}

#upperLeftButtonsContainer {
	position: absolute;
	left: var(--width-unit);
	top: var(--height-unit);
	display: flex;
}

#mapContainer {
	pointer-events: none;
	position: absolute;
	left: 9vw;
	display: flex;
}

#disastersContainer {
	position: absolute;
	left: var(--width-unit);
	top: calc(100% / 3);
	display: flex;
}

#bottomRightButtonsContainer {
	--seenButton-size: calc(1.5 * var(--height-unit));
	--craftingButton-size: calc(2.5 * var(--height-unit));
	position: absolute;
	overflow: hidden;
	right: calc(1.5 * var(--width-unit));
	bottom: calc(1.5 * var(--height-unit));
}
