#gameplayScreen {
	--height-unit: calc(50vh / 9);
	--width-unit: 3.125vw;
	font-family: Helvetica;
}

/*-------------------
  Button Containers
-------------------*/

#upperRightButtonsContainer {
	position: absolute;
	right: 20px;
	top: 20px;
	display: flex;
}

#upperLeftButtonsContainer {
	position: absolute;
	left: 20px;
	top: 20px;
	display: flex;
}

#disastersContainerContainer {
	position: absolute;
	left: 20px;
	top: calc(100% / 3);
	display: flex;
}

#bottomRightButtonsContainer {
	--seenButton-size: 60px;
	--craftingButton-size: 100px;
	position: absolute;
	right: 20px;
	bottom: 20px;
}
