#mapComponent {
  height: 100vh;
  background-color: #777;
}
#mapNavigationTools {
  position: absolute;
  bottom: 30px;
  left: 20px;
  width: 180px;
  height: 340px;
  z-index: 2;
  background-color: rgb(255, 255, 255, 0);
}
