#actionsButton {
  --actionsButton-width: 280px;
  background-color: khaki;
  width: var(--actionsButton-width);
  height: 40px;
}

#actionsButtonAndTabContainer {
  position: absolute;
  right: 20px;
  top: 20px;
}
